body{
	background: #000033;

}


nav ul>li{
	display: inline; 

}

nav ul a{
	padding: 1rem;
	color: black; 
	text-decoration: none; 
}
nav ul a.active,nav ul a:active{
	border-bottom: 2px solid blue;
	background: rgba(0,0,0,.05);  
}
nav ul a:hover{
	background: rgba(0,0,0,.1); 
}

nav>#nav{
	padding: 1rem;
	background: white; 
	
	margin: 0px; 
}
nav>#nav ul{
	text-align: right;
	display: inline-block; 
}

.log{
	position: absolute;
	top: 13%;
	background-color: white;
	width: 60%;
	left: 3%;
	height: 145%;
}
.log #lo h1{
	position: absolute;
	top: 5%;
	left: 40%;
	color: #ff3385;
	font-size: 170%;





}
.log #name{
	position: absolute;
	top: 10%;
	left: 7%;
	padding: 10px;




}
select{
	width: 30%;
	height: 30%;
	 padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
    background:  #f5f5f0;

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
    background:  #f5f5f0;
}
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
    background:  #f5f5f0;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
   
    box-sizing: border-box;
    background:  #f5f5f0;
}
button{
	 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ff3385;

}
.log2{
	position: absolute;
	top: 30%;
	background-color: white;
	width: 30%;
	left: 65%;
	height: 70%;
}
.log2 #name{
	position: absolute;
	top: 10%;
	left: 1%;
	padding: 40px;




}
.log2 #lo h1{
	position: absolute;
	top: 5%;
	left: 5%;
	color: blue;
	font-size: 170%;





}