nav ul>li{
	display: inline; 

}

nav ul a{
	padding: 1rem;
	color: blue; 
	text-decoration: none; 
}
nav ul a.active,nav ul a:active{
	border-bottom: 2px solid blue;
	background: rgba(0,0,0,.05);  
}
nav ul a:hover{
	background: rgba(0,0,0,.1); 
}

nav>#nav{
	padding: 1rem;
	background: white; 
	
	margin: 0px; 
}
nav>#nav ul{
	text-align: right;
	display: inline-block; 
}
#one label{
	position: absolute;
	top: 2%;
	left: 9%;

}
#one select{
	position: absolute;
	top: 1%;
	left: 7%;
	color: blue;
	font-size: 3px;
	 border: 2px solid blue;
	  border-radius: 4px;

	
	width: 10%;
	height: 8%;
}
input[type=text] {
	position: absolute;
	top: 1%;
	left: 20%;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
}